{% extends 'base.html.twig' %}

{% block title %}{{ info.title }}{% endblock %}

{% block body %}

<div class="background-title">
    <div class="" style="background: url({{ info.background }}); background-size: cover;">
        <img class="img-fluid" src="{{ info.background }}"/>
    </div>
    <div class="title-block">
        <span class="" style="font-size: 3em;">{{ info.title }}</span>
        <br/>
        <span class="text-muted" style="font-size: 2em;">{{ info.release_date|date("Y-m-d") }}</span>
        <p style="font-size:2em; text-align: justify; margin-top: 1em;">{{ info.synopsis }}</p>
        
    </div>
</div>

<div class="added-block">
    <p class="text-left" style="float:left;">Ajouter a la liste des films vus</p>
    <p class="text-right" style="float:right;">Ajouter a la liste des films a voir</p>
    <div style="clear:both;"></div>
</div>

<h1 class="text-center" style="padding-top: 1em; padding-bottom: 1em;">Films Similaires</h1>
<div class="card-deck2" style="height: 40%">
    {% for movie in similar_movies %}
        <div class="card2 text-white hover-action">
            <img src={{ movie }} class="">
        </div>
    {% endfor %}
</div>

{% endblock %}