{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    <div class="movie-deck-flex">
    {% for movie in movies %}
    {% if movie.poster == "https://image.tmdb.org/t/p/original" %}
    <div class="movie-card-flex text-white hover-action" style="background-image: url({{asset('img/placeholder-Movie.png')}}); background-size:100%">
        {% else %}
        <div class="movie-card-flex text-white hover-action" style="background-image: url( {{ movie.poster }}); background-size:cover">
            {% endif %}
            <a href="{{ path("movie", parameters={id: movie.id }) }}">
                <div class="hoverable">
                    <div class="hoverable-content">
                        <h5 class="movie-title">{{ movie.title }}</h5>
                        <p class="movie-synopsis">{{ movie.releaseDate|date("d M Y") }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endblock %}