{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}
    {% if app.user %}
        <h1 class="text-center">Recommandés</h1>

        <div class="movie-deck">
        {% for movie in recommended %}
            {% if movie.poster == "https://image.tmdb.org/t/p/original" %}
                <div class="movie-card text-white hover-action" style="background-image: url({{asset('img/placeholder-Movie.png')}}); background-size:100%">
            {% else %}
                <div class="movie-card text-white hover-action" style="background-image: url( {{ movie.poster }}); background-size:cover">
            {% endif %}
            <a href="{{ path("movie", parameters={id: movie.id }) }}">
                <div class="hoverable">
                    {% if movie.id in moviesSeen %}
                        <i class="fas fa-check-circle fa-3x"></i>
                    {% endif %}
                    <div class="hoverable-content">
                        <h5 class="movie-title">{{ movie.title }}</h5>
                        <p class="movie-synopsis">{{ movie.releaseDate|date("d M Y") }}</p>
                    </div>
                </div>
            </a>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    <h1 class="text-center">Populaires</h1>

    <div class="movie-deck">
        {% for movie in popular %}
            {% if movie.poster == "https://image.tmdb.org/t/p/original" %}
                <div class="movie-card text-white hover-action" style="background-image: url({{asset('img/placeholder-Movie.png')}}); background-size:100%">
            {% else %}
                <div class="movie-card text-white hover-action" style="background-image: url( {{ movie.poster }}); background-size:cover">
            {% endif %}
                    <a href="{{ path("movie", parameters={id: movie.id }) }}">
                        <div class="hoverable">
                            {% if movie.id in moviesSeen %}
                                <i class="fas fa-check-circle fa-3x"></i>
                            {% endif %}
                            <div class="hoverable-content">
                                <h5 class="movie-title">{{ movie.title }}</h5>
                                <p class="movie-synopsis">{{ movie.releaseDate|date("d M Y") }}</p>
                            </div>
                        </div>
                    </a>
                </div>
        {% endfor %}
    </div>

    <h1 class="text-center">Derniers Ajouts</h1>

    <div class="movie-deck">
        {% for movie in latest %}
        {% if movie.poster == "https://image.tmdb.org/t/p/original" %}
        <div class="movie-card text-white hover-action" style="background-image: url({{asset('img/placeholder-Movie.png')}}); background-size:100%">
            {% else %}
            <div class="movie-card text-white hover-action" style="background-image: url( {{ movie.poster }}); background-size:cover">
                {% endif %}
                <a href="{{ path("movie", parameters={id: movie.id }) }}">
                    <div class="hoverable">
                        {% if movie.id in moviesSeen %}
                            <i class="fas fa-check-circle fa-3x"></i>
                        {% endif %}
                        <div class="hoverable-content">
                            <h5 class="movie-title">{{ movie.title }}</h5>
                            <p class="movie-synopsis">{{ movie.releaseDate|date("d M Y") }}</p>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>

        <div class="spacer"></div>
{% endblock %}