{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block body %}

<h1 class="text-center">Recommended</h1>

<div class="movie-deck">
    {% for movie in recommended %}
        <div class="movie-card text-white hover-action" style="background-image: url( {{ movie.poster }}); background-size:cover">
            <a href="{{ path("movie", parameters={id: movie.id }) }}">
                <div class="hoverable">
                    <div class="hoverable-content">
                        <h5 class="movie-title">{{ movie.title }}</h5>
                        <p class="movie-synopsis">{{ movie.releaseDate|date("d M Y") }}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>

<h1 class="text-center">Last Watched</h1>

<div class="movie-deck">
    {% for movie in last_watched %}
        <div class="movie-card text-white hover-action" style="background-image: url( {{ movie.poster }}); background-size:cover">
            <a href="{{ path("movie", parameters={id: movie.id } ) }}">
                <div class="hoverable">
                    <div class="hoverable-content">
                        <h5 class="movie-title">{{ movie.title }}</h5>
                        <p class="movie-synopsis">{{ movie.release_year }}</p>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
</div>

<div class="spacer"></div>

{% endblock %}